<div th:fragment="content">
    <style>
        .admin-registry-permissions{

        }
    </style>

    <div class="admin-registry-permissions"></div>
    <form hx-post="/admin/registry-access/grant"
          hx-target="#permission-area"
          hx-swap="innerHTML">
        <input type="hidden" name="userId"     th:value="${selectedUser.name}">
        <input type="hidden" name="registryId" th:value="${registry.id}">
        <button type="submit">Ge access</button>
    </form>

    <form class="admin-registry-permissions"
          hx-post="/admin/registry-access/revoke"
          hx-target="#permission-area"
          hx-swap="innerHTML">
        <input type="hidden" name="userId"     th:value="${selectedUser.name}">
        <input type="hidden" name="registryId" th:value="${registry.id}">
        <button type="submit">Ta bort access</button>
    </form>

</div>