<aside th:fragment="aside" class="admin-aside">

    <div class="admin-container">

        <div class="admin-head">
            <a th:href="@{/admin}">Admin Dashboard</a>
        </div>

        <ul class="sidebar-links">

            <li>
                <a th:href="@{/admin/users}" hx-get="/admin/users" hx-target="#content-area">
                    <i class="fa-solid fa-house"></i>
                    <span>Hantera användare</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/applications}" hx-get="/admin/applications" hx-target="#content-area">
                    <i class="fa-solid fa-file-invoice"></i>
                    <span>Hantera ansökningar</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/bookings}" hx-get="/admin/bookings" hx-target="#content-area">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>Bokningar</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/logs}" hx-get="/admin/logs" hx-target="#content-area">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <span>Systemlogg</span>
                </a>
            </li>

            <li>
                <a href="/webauthn/register" style="text-decoration: none; display: flex; align-items: center; gap: 10px;">
                    <i class="fa-solid fa-key"></i>
                    <span>Add Passkeys</span>
                </a>
            </li>

            <li>
                <form th:action="@{/logout}" method="post">
                    <button class="submit" type="submit">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Logga ut</span>
                    </button>
                </form>
            </li>

        </ul>
        <div class="sorting">

            <button
                    th:attr="hx-get=@{/admin/users(page=0, sort='displayName', direction=${direction == 'asc' ? 'desc' : 'asc'})}"
                    hx-target="#content-area"
                    hx-swap="innerHTML">
                Sortera namn
            </button>

            <button
                    th:attr="hx-get=@{/admin/users(page=0, sort='email', direction=${direction == 'asc' ? 'desc' : 'asc'})}"
                    hx-target="#content-area"
                    hx-swap="innerHTML">
                Sortera email
            </button>

        </div>

    </div>

</aside>
