<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">

    <h2>Bokningar</h2>

    <ul>
        <li th:each="booking : ${bookings}">

            <a th:href="@{/admin/bookings/{id}(id=${booking.id})}" target="_blank">

                <strong th:text="${#temporals.format(booking.bookingTime, 'dd MMM HH:mm')}"></strong>
                -
                <span th:text="${booking.status}"></span>

            </a>

            <strong th:text="${booking.id}"></strong>
            <span th:text="${booking.status}"></span>

            <span th:text="${#temporals.format(booking.bookingTime, 'dd MMM yyyy HH:mm')}"></span>

            <button
                    th:attr="hx-post=@{/admin/bookings(id=${booking.id})}"
                    hx-target="closest li"
                    hx-swap="outerHTML"
                    hx-confirm="Är du säker?">
                Ta bort
            </button>
        </li>

    </ul>

    <div th:replace="~{fragments/pagination :: pagination('/admin/bookings')}"></div>

</div>