<div th:fragment="content">
<!--<style>-->
<!--    .btn-admin-users{-->
<!--        width: 100%;-->
<!--        padding: 12px;-->
<!--        background: var(&#45;&#45;color-primary);-->
<!--        color: white;-->
<!--        border: none;-->
<!--        border-radius: 10px;-->
<!--        cursor: pointer;-->
<!--        transition: 0.2s;-->
<!--    }-->
<!--</style>-->



    <h2>Användare</h2>

    <div id="alert-area"></div>

    <ul>
        <li th:each="user : ${users}">


            <form
                    th:action="@{/admin/users/{id}/role(id=${user.id})}"
                    hx-post="@{/admin/users/{id}/role(id=${user.id})}"
                    hx-target="#content-area"
                    hx-swap="innerHTML"
            >
                <form
                        hx-post="/admin/users/create"
                        hx-target="#content-area"
                        hx-swap="innerHTML"
                >

                    <label>
                        <select name="role">
                            <option value="USER">USER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
                    </label>


                    <button type="submit">
                    Uppdatera roll
                </button>

            </form>
        </li>
    </ul>

    <div th:replace="fragments/pagination :: pagination('/admin/users')"></div>

