
<header th:fragment="header">
    <nav class="navbar">
        <div class="navdiv">

            <div class="logo">
                <a th:href="@{/}">Hem</a>
            </div>

            <div id="content-area"></div>

            <div class="search-container">
                <form
                        hx-get="/search"
                        hx-target="#content-area"
                        hx-swap="innerHTML"
                >
                    <input
                            type="text"
                            name="searchTerm"
                            placeholder="Sök..."
                            hx-trigger="keyup changed delay:300ms"
                    >

                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <ul class="nav-links">
                <li><a th:href="@{/}" class="nav-menu">Home</a></li>
                <li><a th:href="@{/contact}" class="nav-menu">Contact</a></li>
                <li class="nav-buttons">
                    <a th:href="@{/login}" class="btn-login">Sign in</a>
                    <a th:href="@{/register}" class="btn-register">Register</a>
                </li>
            </ul>

        </div>
    </nav>
</header>