<aside th:fragment="aside" class="main-sidebar">
    <div class="sidenav-container">
        <div class="sidenav-header">
        </div>

        <ul class="sidenav-list">
            <li class="sidenav-item">
                <a th:href="@{/}">
                    <i class="fa-solid fa-house"></i>
                    <span>Hem</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a th:href="@{/profile}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Profil</span>
                </a>
            </li>


            <li class="sidenav-item">
                <a th:href="@{/booking}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Boka tid</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a th:href="@{/application}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Ansökningar</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a th:href="@{/logout}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logga ut</span>
                </a>
            </li>

        </ul>
    </div>
</aside>