<aside th:fragment="aside"
       class="main-sidebar"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="sidenav-container">
        <div class="sidenav-header">
        </div>

        <ul class="sidenav-list">
            <li class="sidenav-item">
                <a th:href="@{/}">
                    <i class="fa-solid fa-house"></i>
                    <span>Hem</span>
                </a>
            </li>
            <li class="sidenav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/dashboard}">
                    <i class="fa-solid fa-table-columns"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sidenav-item" sec:authorize="hasRole('CASE_OFFICER')">
                <a th:href="@{/case-officer}">
                    <i class="fa-solid fa-briefcase"></i>
                    <span>Handläggarvy</span>
                </a>
            </li>

            <li class="sidenav-item">
                <a th:href="@{/profile}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Profil</span>
                </a>
            </li>


            <li class="sidenav-item">
                <a th:href="@{/booking}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Boka tid</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a th:href="@{/application}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Ansökningar</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a th:href="@{/logout}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logga ut</span>
                </a>
            </li>


        </ul>
    </div>
</aside>