

aside{
    background: #161a2d;
    width: 350px;
    height: 100%;
    border: 1px solid purple;
    transition: all 0.5s ease;
    align-items: center;
    gap: 0 20px;
    padding: 15px 20px;
    color:white

}


li{
    list-style: none;
    margin:10px;
    padding:10px;
}



.submit {
    width: 50%;
    padding: 10px;
    border-radius:20px;
    border: 1px solid purple;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 100;
    background: white;
    cursor: pointer;
    color:green;

}

.side-navbar-container {
    width: 250px;
    min-height: 100vh;
    background: #f3f3f3;
}

.side-navbar-container li {
    padding: 10px;
}

.side-navbar-container li:hover {
    color: #6017a8;
    cursor: pointer;
}

.admin-aside {
    background: #161a2d;
    width: 250px;
    min-height: 100vh;
    padding: 20px;
    color: white;
}

.admin-layout {
    display: flex;
}

#content-area {
    flex: 1;
    padding: 20px;
}