

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-bg: #161a2d;
    --color-surface: #1f2544;
    --color-primary: #6017a8;
    --color-accent: #00d4ff;
    --color-text: #ffffff;
    --color-muted: #a0a0b0;
    --color-success: #28a745;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #f5f6fa
}

.form-container {
    background: #161a2d;
    color: white;
    padding: 40px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.login-submit{
    color:white;
    border:none;
    background: #161a2d;
}

.passkey-button{
    color:white;
    border:none;
    background: #161a2d;
}