body{
    height:100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    background-size: cover;
    justify-content: center;
    align-items: center;

}

h2{
    color:black;
}

.form-container {
    max-width:320px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 0 10px black;
    background: transparent;
    border-radius: 30px;
    text-align: center;
    backdrop-filter: blur(20px);
}

.form-header {
    text-align: center;
    margin-bottom: 25px;

    font-size: 1rem;
    text-transform: uppercase;
    color: white;
}
.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    padding:15px 20px ;
    width: 275px;
    border-radius: 30px;
    border: 0px solid white;
    box-shadow: 0 0 5px black;
    margin-bottom: 20px;
    background: transparent;
    font-size: 1rem;
    outline: none;
    color: black;
}


.forgot-password a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.forgot-password a:hover {
    text-decoration: underline;
}

.forgot-password a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.forgot-password a:hover {
    text-decoration: underline;
}
.submit {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid purple;

    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 100;
    background: white;
    cursor: pointer;
    color:green;


}
.submit:hover {
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.662);
}
.signup {
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}