

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-bg: #161a2d;
    --color-surface: #1f2544;
    --color-primary: #6017a8;
    --color-accent: #00d4ff;
    --color-text: #ffffff;
    --color-muted: #a0a0b0;
    --color-success: #28a745;
}



/*.form-container h2 {*/
/*    margin-bottom: 20px;*/
/*}*/



/*.login-submit{*/
/*    color:white;*/
/*    border:none;*/
/*    background: #161a2d;*/
/*}*/

.passkey-button{
    margin-top: 10px;
}