
.search-btn {
    background: none !important;
    width: auto !important;
    color: #666 !important;
    cursor: pointer;
    border: none;

}

button{
    color:white;
    border-radius:20px;
    background-color: black;
}

.danger-zone {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}

.btn-danger {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-danger:hover {
    background: #cc0000;
}

.profile-btn{
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}