.navbar *, .navbar a{
    text-decoration: none;
}

.navbar{
    background-color:white;
    font-family: Poppins, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid purple;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar li a {
    color:black;
    font-size: 16px;
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
}
.search-container {
    flex-grow: 0.5;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search-container form {
    display: flex;
    background: #f0f2f5;
    border-radius: 20px;
    padding: 5px 15px;
    width: 100%;
    max-width: 400px;
}

.search-container input {
    border: none;
    background: transparent;
    padding: 8px;
    width: 100%;
    outline: none;
}

.search-btn {
    background: none !important;
    width: auto !important;
    color: #666 !important;
    cursor: pointer;
    border: none;

}

button{
    color:white;
    border-radius:20px;
    background-color: black;
}

.danger-zone {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ff4d4d;
    border-radius: 10px;
}

.btn-danger {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-danger:hover {
    background: #cc0000;
}