<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

    <link th:href="@{/css/side-navbar.css}" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link th:href="@{/css/navbar.css}">
</head>
<body>
<aside th:fragment="aside">
    <div class="container">
        <div class="head">
            <a th:href="@{/}">Admin Dashboard</a>
        </div>
        <ol class="side-nav">
            <li class="home">
                <a th:href="@{/static}">
                    <i class="fa-solid fa-house"></i>
                    <span>Hantera användare</span>
                </a>
            </li>
            <li class="application">
                <a th:href="@{/application}">
                    <i class="fa-solid fa-file-invoice"></i>
                    <span>Hantera ansökningar</span>
                </a>
            </li>
            <li class="booking">
                <a th:href="@{/booking}">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>Hantera bokade tidare</span>
                </a>
            </li>
            <li class="profile">
                <a th:href="@{/profile}">
                    <i class="fa-solid fa-user"></i>
                    <span>Hantera profiler</span>
                </a>
            </li>
            <li class="profile">
                <a th:href="@{/profile}">
                    <i class="fa-solid fa-user"></i>
                    <span>Systemlogg</span>
                </a>
            </li>
            <li class="profile">
                <a th:href="@{/profile}">
                    <i class="fa-solid fa-user"></i>
                    <span>Logga ut</span>
                </a>
            </li>
        </ol>

    </div>
</aside>
</body>
</html>