<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/components/form.css}">
    <link rel="stylesheet" th:href="@{/css/meetings.css}">
    <link rel="stylesheet" th:href="@{/css/protocols.css}">


</head>

<body>
<div class="admin-layout">
    <aside th:replace="~{fragments/admin-sidenav :: aside}"></aside>

    <main id="content-area">
        <section layout:fragment="content"></section>
    </main>
</div>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
</body>
</html>