<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<main>
    <section layout:fragment="content">
        <div class="application-container">

            <header class="page-header">
                <h1 class="application-h1">Ansökningar</h1>
                <p>Skapa nya ärenden eller hantera befintliga.</p>
            </header>

            <span th:text="${app.status}"
                  th:classappend="${app.status.name() == 'CANCELLED'} ? 'status-cancelled' : ''">
            </span>


            <ul class="application-list">

                <li th:if="${#lists.isEmpty(applications)}">
                    <p>Du har inga ärenden ännu.</p>
                </li>



                <li th:each="app : ${applications}" class="application-item">

                    <div class="application-card">

                        <strong th:text="${app.title}"></strong>

                        <p>
                            Status:
                            <span th:text="${app.status}"></span>
                        </p>

                        <div class="actions">

                            <a th:attr="hx-get=@{/application/{id}(id=${app.id})}"
                               hx-target="#content-area"
                               hx-swap="innerHTML">
                                Visa
                            </a>

                            <a th:attr="hx-get=@{/application/{id}/extend(id=${app.id})}"
                               hx-target="#content-area"
                               hx-swap="innerHTML">
                                Förläng
                            </a>

                        </div>

                    </div>

                </li>

            </ul>

            <div class="apply-container">

                <a hx-get="/application/apply"
                   hx-target="#content-area"
                   hx-swap="innerHTML"
                   class="card action-card">

                    <h3>Ansök</h3>
                    <p>Skapa ett nytt ärende</p>

                </a>

            </div>

        </div>
    </section>



</main>
</body>
</html>