<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<section layout:fragment="content" class="booking-container">

    <h2>Boka tid</h2>


    <div class="section-booking">

        <a hx-get="/booking/application"
           hx-target="#content-area"
           hx-swap="innerHTML"
           class="btn-highlight">

            Boka tid

        </a>

    </div>


    <h3>Mina bokningar</h3>




    <button hx-get="/booking?page=1"
            hx-target="#booking-list"
            hx-swap="beforeend">
        Visa fler
    </button>

    <div id="booking-list">
        <div th:replace="~{fragments/booking-list :: list}"></div>
    </div>

</section>

</body>
</html>