<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Case Officer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/components/form.css}">
    <script src="[unpkg.com](https://unpkg.com/htmx.org@1.9.10)"></script>


</head>

<body>

<aside th:replace="~{fragments/case-officer-sidenav :: aside}"></aside>
<main class="admin-main">
    <div id="content-area" layout:fragment="content">
        <h1>Välkommen Handläggare</h1>
        <p>Välj ett alternativ i menyn för att hantera ärenden.</p>
    </div>
</main>



</body>
</html>
