<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">


</head>

<body>

<div class="dashboard-wrapper">

    <aside class="sidebar">



        <nav>
            <ul class="side-nav">
                <li>
                    <a class="a-dashboard" hx-get="/dashboard/home" hx-target="#content-area" th:href="@{/dashboard}">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard Hem</span>
                    </a>
                </li>

                <li sec:authorize="hasRole('ADMIN')">
                    <a class="a-dashboard" th:href="@{/admin}">
                        <i class="fa-solid fa-user-shield"></i>
                        <span>Till admin dashboard</span>
                    </a>
                </li>

                <li sec:authorize="hasRole('ADMIN')">
                    <a class="a-dashboard" hx-get="/admin/users" hx-target="#content-area" th:href="@{/admin}">
                        <i class="fa-solid fa-users-gear"></i>
                        <span>Admin</span>
                    </a>
                </li>

                <li sec:authorize="hasRole('ADMIN')">
                    <a class="a-dashboard" hx-get="/admin/users" hx-target="#content-area" th:href="@{/admin/users}">
                        <i class="fa-solid fa-users-gear"></i>
                        <span>Användaröversikt</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a class="a-dashboard" hx-get="/admin/logs" hx-target="#content-area" th:href="@{/admin/logs}">
                        <i class="fa-solid fa-clipboard-list"></i>
                        <span>Systemlogg</span>
                    </a>
                </li>

                <li sec:authorize="hasRole('USER')">
                    <a class="a-dashboard" hx-get="/user/profile" hx-target="#content-area" th:href="@{/user/profile}">
                        <i class="fa-solid fa-user"></i>
                        <span>Min Profil</span>
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN') or hasRole('USER')">
                    <a class="a-dashboard"
                       hx-get="/dashboard/case-management"
                       hx-target="#content-area"
                       hx-swap="innerHTML"
                       th:href="@{/dashboard/case-management-page}">
                        <i class="fa-solid fa-folder-open"></i>
                        <span>Ärenden</span>
                    </a>
                </li>

                <li sec:authorize="hasAnyRole('ADMIN','USER','CASE_OFFICER')">
                    <a class="a-dashboard"
                       hx-get="/dashboard/protocols"
                       hx-target="#content-area"
                       hx-swap="innerHTML"
                       th:href="@{/dashboard/protocols-page}">
                        <i class="fa-solid fa-file-signature"></i>
                        <span>Protokoll</span>
                    </a>
                </li>

                <li sec:authorize="hasRole('USER')">
                    <a  class="a-dashboard" hx-get="/user/my-bookings" hx-target="#content-area" th:href="@{/user/my-bookings}">
                        <i class="fa-solid fa-calendar-check"></i>
                        <span>Mina Bokningar</span>
                    </a>
                </li>


                <li class="logout-item" sec:authorize="isAuthenticated()" >
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn-primary">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Logga ut</span>
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </aside>


    <main id="content-area" layout:fragment="content">
    </main>

</div>

</body>
</html>