<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div th:replace="fragments/form-errors :: errors"></div>
<div th:replace="fragments/success-message :: success"></div>
<form th:action="@{/login}" method="post">


    <div class="form-container">
        <section class="form-header">
            <h2>Logga in</h2>
        </section>
        <section class="input-container">
            <label class="input-container">
                <input type="text" placeholder="username" required>
            </label>
            <label>
                <input type="password" placeholder="password" required>
            </label>

            <section>
                <button class="submit" type="submit">Logga in</button>
            </section>
            <section class="signup">
                Har du inget konto?<a th:href="@{/register}"> Registrera</a>
            </section>
        </section>

        <button
                type="button"
                hx-get="/login/webauthn"
                hx-target="#content-area"
                hx-swap="innerHTML"
                th:href="@{/login/webauthn}">
            Logga in med passkeys
        </button>

    </div>
</form>
</body>
</html>