<!doctype html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>

</head>


    <section layout:fragment="content">

    <h1>Min profil</h1>
        <p>Inloggad som <span sec:authentication="name"></span></p>
        <div sec:authorize="isAuthenticated()">
            Hej <span sec:authentication="name"></span> 👋
        </div>

        <hr>

        <div class="danger-zone">
            <h3>Farliga åtgärder</h3>

            <button
                    hx-delete="/account"
                    hx-confirm="Är du säker på att du vill ta bort ditt konto?"
                    hx-target="#content-area"
                    hx-swap="innerHTML"
                    class="btn-danger"
            >
                Ta bort mitt konto
            </button>
        </div>






</section>

</html>