<!doctype html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>

</head>

<body>
    <section layout:fragment="content">

    <h1>Min profil</h1>
        <p>Inloggad som <span sec:authentication="name"></span></p>
        <div sec:authorize="isAuthenticated()">
            Hej <span sec:authentication="name"></span> 👋
        </div>

        <div style="margin-top: 20px;">
            <ul style="list-style: none; padding: 0;">
                <li>
                    <a th:href="@{/webauthn/register}" class="btn-secondary" style="text-decoration: none; display: inline-flex; align-items: center; gap: 10px;">
                        <i class="fa-solid fa-key"></i>
                        <span>Add Passkeys</span>
                    </a>
                </li>
            </ul>
        </div>

        <hr>

        <div class="danger-zone">


            <button
                    hx-delete="/account"
                    hx-confirm="Är du säker på att du vill ta bort ditt konto?"
                    hx-target="#content-area"
                    hx-swap="innerHTML"
                    class="btn-danger"
            >
                Ta bort konto
            </button>
        </div>






</section>
</body>
</html>
