<!doctype html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>

</head>

<body>
<section layout:fragment="content">

    <h1>Min profil</h1>

    <p>Inloggad som <strong sec:authentication="name"></strong></p>

    <div class="dashboard-grid">

        <div class="widget-card">
            <h3>Mina ärenden</h3>
            <p class="widget-value" th:text="${applicationCount}">0</p>

            <a hx-get="/application"
               hx-target="#content-area"
               hx-swap="innerHTML">
                Visa
            </a>
        </div>


        <div class="widget-card">
            <h3>Mina bokningar</h3>
            <p class="widget-value" th:text="${bookingCount}">0</p>

            <a hx-get="/booking"
               hx-target="#content-area"
               hx-swap="innerHTML">
                Visa
            </a>
        </div>

    </div>

    <hr>

    <a hx-get="/profile/change-password"
       hx-target="#content-area"
       hx-swap="innerHTML">
        Ändra lösenord
    </a>

    <div class="danger-zone">

        <h3>Farlig zon</h3>

        <button
                hx-delete="/account"
                hx-confirm="Är du säker?"
                class="btn-danger">
            Ta bort konto
        </button>

    </div>

</section>







</body>
</html>