<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>

<section layout:fragment="content">

    <div class="login-wrapper">

        <div class="form-wrapper">

            <div th:replace="fragments/form-errors :: errors"></div>
            <div th:replace="fragments/success-message :: success"></div>

            <div class="form-container">

            <form class="register-form" th:action="@{/register}" method="post">

                <h1 class="register-h1">Registrera dig</h1>
                <div class="form-group">
                <label for="firstName">Förnamn</label>
                <input type="text" id="firstName" name="firstName" required>
                </div>
                <div class="form-group">
                <label for="lastName">Efternamn</label>
                <input type="text" id="lastName" name="lastName" required>
                </div>
                <label for="email">E-post</label>
                <input type="email" id="email" name="email" required>
                <div class="form-group">
                <label for="phone">Mobilnummer</label>

                <input type="tel" id="phone" name="phoneNumber">
                </div>

                <label for="password">Lösenord</label>

                <input type="password" id="password" name="password" required>
                <div class="form-group">
                <label for="confirmPassword">Bekräfta lösenord</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit" class="btn-primary">Skapa konto</button>

            </form>

            <div class="footer-links">
                <p>Har du redan ett konto? <a th:href="@{/login}">Logga in</a></p>
                <p><a th:href="@{/}">Tillbaka</a></p>
            </div>

        </div>
        </div>

    </div>

</section>

</body>
</html>