<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Identity verification...</title>
    <script src="/js/spring-security-webauthn.js" defer></script>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <h2>Almost done...</h2>
    <p>Please, use your passkeys.</p>

    <button id="authenticate-button" class="btn btn-primary">
        Verification with Passkeys
    </button>
</div>

<script>

    window.addEventListener('load', () => {
    });
</script>
</body>
</html>
